{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block menu %}
    <div class="container-fluid no_padding">
        <div class="container nav_container">
            <div class="navigation main">
                <div class="logo"><a href="/"><img src="{% static 'img/header-logo.png' %}" alt=""></a></div>
                <div class="right_side">
                    <div class="contacts">
                        <div class="number"><p>+ 996 312 986 585</p></div>
                        <a href="#FAQ" class="callback"><span>CALLBACK</span></a>
                    </div>
                    <div class="menu">
                        <ul class="menu_list">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a class="data-link" href="#things">Thing To-Do</a></li>
                            {#                            <li><a class="data-link" href="#trip_planner">Trip Planner</a></li>#}
                            <li><a class="data-link" href="#popular_tours">Tours</a></li>
                            <li><a class="data-link" href="#travelers_photo">Gallery</a></li>
                            <li><a class="data-link" href="#blog">Blog</a></li>
                            <li><a class="data-link" href="#map">Map</a></li>
                            <li><a href="{% url 'about_us' %}" class="">Our team</a></li>
                            <li><a href="{% url 'contacts' %}" class="">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid no_padding" id="home">
        <div class="main_slider">
            {% for i in slider %}
                <div class="item"><img src="{{ i.image.url }}" alt="">
                    <div class="caption">
                        <div class="main_caption">{{ i.title }}</div>
                        <div class="sub_caption">{{ i.describe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid no_padding second_block">
        <div class="left_side_text"><p>{{ info.text|safe }}</p>
            <a href="{% url 'article' %}" class="discover" target="_blank">DISCOVER</a>
        </div>
        <div class="right_side_image"><img src="{{ info.image.url }}" alt=""></div>
    </div>
    <div class="container-fluid things_to_do" id="things">
        <div class="container">
            <div class="title_block">
                <div class="title">THINGS TO-DO</div>
            </div>
            <div class="posts">
                {% for i in things %}
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 small post">
                        <div class="post_block"><img src="{{ i.image.url }}" alt="">
                            <div class="more"><a
                                    href="{% url 'things_page' i.id %}" class="category_link">{{ i.title }}</a>
                                <a href="{% url 'things_page' i.id %}" class="more_about">View tours <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div class="all-things-to-do">
            <a href="{% url 'all_things_to_do' %}">show all <img src="{% static 'img/right-chevron.svg' %}" alt=""></a>
        </div>
        </div>
    </div>
    <div class="container-fluid trip-planner" id="trip_planner">
        <div class="container trip-planner-block">
            <div class="title_block">
                <div class=" trip-planner-title title">TRIP PLANNER</div>
                <div class="subtitle trip-planner-subtitle">Create your own Tour</div>
            </div>
            <div class="my_own_tours_link">
                <a href="http://booking.redrock.kg/index.php" class="my_own_tours booking">
                    BOOKING
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid popular-tours" id="popular_tours">
        <div class="container">
            <div class="title_block">
                <div class="title">POPULAR TOURS</div>
            </div>
            <div class="popular-tour-posts">
                {% for i in popular %}
                    <div class="col-md-3 col-xs-12 col-sm-3 col-lg-3 popular-tours-post">
                        <div class="content-image"><img src="{{ i.image.url }}"
                                                        alt="">
                            <div class="tour-caption">
                                <div class="tour-title"><a href="{% url 'tour_page' i.id %}">{{ i.title }}</a></div>
                                <div class="tour-describe"><p>{{ i.description }}</p></div>
                            </div>
                            <div class="icon"><img src="{{ i.category.icon.url }}" alt=""></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="all-tours">
            <a href="{% url 'tours' %}">all tours <img src="{% static 'img/right-chevron.svg' %}" alt=""></a>
        </div>
    </div>
    <div class="container-fluid travelers-photo-block" id="travelers_photo">
        <div class="container">
            <div class="title_block">
                <div class="title fs-32">gallery</div>
            </div>
        </div>
        <div class="travelers-photo-slider popup-gallery">
            {% for i in travelers_photo %}
                <a href="{{ i.image.url }}">
                    <div class="items"><img src="{{ i.image.url }}" alt="">
                        <div class="photo-caption">
                            <div class="photo-title">{{ i.title }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid news_and_block" id="blog">
        <div class="container">
            <div class="title_block">
                <div class="title fs-32">NEWS & BLOG</div>
            </div>
            <div class="news_blog_slider">
                {% for i in blog %}
                    <div class="news_blog"><img src="{{ i.image.url }}" alt="">
                        <div class="news_describe">
                            <div class="news_title"><a href="{% url 'blog_page' i.id %}">{{ i.title }}</a></div>
                            <div class="news_date">{{ i.date|date:"d/m/Y" }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid map-of-attraction" id="map">
        <div class="container">
            <div class="title_block">
                <div class="title fs-32">map of attraction</div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2458.7792850913625!2d74.58931350862471!3d42.872890158598366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec827494e19b7%3A0xdd6cc19ff68481ed!2z0KLRg9GA0LDQs9C10L3RgtGB0YLQstC-INCa0L7Rh9C10LLQvdC40Loua2c!5e0!3m2!1sru!2sru!4v1494588479990"
                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/popup_master/dist/jquery.magnific-popup.js' %}"></script>
{% endblock %}
