{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="unsubscribe_text">
            <p>If you no longer want to receive the newsletter, please fill out the form below.
            </p>
        </div>
        <form action="{% url 'subscriber_delete' %}" class="subscriber-delete-form">
            {% csrf_token %}
            {{ form.email }}
            <button class="unsubscribe_button">submit</button>
        </form>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        $('.unsubscribe_button').on('click', function (event) {
            event.preventDefault();
            var that = this;
            $.ajax({
                method: 'POST',
                dataType: 'JSON',
                url: '{% url 'subscriber_delete' %}',
                data: $(that).parent().serialize(),
                success: function (response) {
                    var feedback_message = $('.thanks_modal');
                    if (response.success) {
                        $(feedback_message).html('Sorry your email does not exists in our subscribers database. Please try again');
                        $('.modal_overlay').fadeIn("slow");
                        console.log(response)
                    }
                    else {
                        $(feedback_message).html('Your email successfully deleted from our subscribers database.');
                        $('.modal_overlay').fadeIn("slow");
                        console.log(response)
                    }
                },
                error: function () {
                    console.error('Can\'t send request');
                }

            })
        })
    </script>
{% endblock %}