{% load staticfiles %}
{% load trip_helper %}
{% for item in hotels %}
    <div class="hotel_item" id="hotel-{{ item.id }}">
        <div class="hotel_image"><img
                src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/hotel1.png' %}{% endif %}" alt="">
            <div class="choose_hotel_effect"><input type="radio">
                <div class="choose_this_hotel">Choose hotel</div>
                <a href="" target="_blank">About hotel</a></div>
        </div>
        <div class="hotel_describe_block">
            <div class="hotel_name">{{ item.title }}</div>
            <div class="hotel_rating">
                {% for i in item.rating|get_range:"0" %}
                    <i class="fa fa-star"></i>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}